node_modules
.env

# Hardhat files
/cache
/artifacts
/flatten_contract
/bin
/.openzeppelin

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# IDE files
.vscode/settings.json
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
config.json
.openzeppelin/sepolia.json
bin/contracts/DIGateway.abi
